# Introduction to Financial Python
## Tutorial 5 - Pandas-Resampling and DataFrame

### Obtención de datos
Aquí utilizamos la API de Quandl para recuperar los datos.

In [6]:
!pip install quandl # Para instalar el complemento

Requirement already satisfied: quandl in /usr/local/lib/python3.7/dist-packages (3.6.1)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.7.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from quandl) (0.5.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)

Para conseguir la claave de quandl es necesario registrarse en este link: https://www.quandl.com, luego de eso ya será posible utilizar el servicio.

In [7]:
import quandl
quandl.ApiConfig.api_key = 'oNgzGNZtVSfJ2eUay5_U'

Crearemos una serie llamada "MSFT" cuyos valores son los precios de cierre diarios de Microsoft en el año 2017.

In [26]:
msft_table = quandl.get('WIKI/MSFT')
msft = msft_table['Adj. Close']['2017']
print(msft)

Date
2017-01-03    61.219142
2017-01-04    60.945231
2017-01-05    60.945231
2017-01-06    61.473488
2017-01-09    61.277837
                ...
2017-12-22    85.510000
2017-12-26    85.400000
2017-12-27    85.710000
2017-12-28    85.720000
2017-12-29    85.540000
Name: Adj. Close, Length: 250, dtype: float64

Recordemos que podemos obtener un punto de datos específico utilizando series['aaaa-mm-dd']. También podemos obtener los datos de un mes concreto utilizando series['aaaa-mm'].

In [28]:
print(msft['2017-02'])
print(msft['2017-5':'2017-8'])

Date
2017-02-01    62.197396
2017-02-02    61.796312
2017-02-03    62.295221
2017-02-06    62.256091
2017-02-07    62.050658
2017-02-08    61.962615
2017-02-09    62.666958
2017-02-10    62.608263
2017-02-13    63.312606
2017-02-14    63.547387
2017-02-15    63.508020
2017-02-16    63.498178
2017-02-17    63.596595
2017-02-21    63.468654
2017-02-22    63.340712
2017-02-23    63.596595
2017-02-24    63.596595
2017-02-27    63.212771
2017-02-28    62.966731
Name: Adj. Close, dtype: float64
Date
2017-05-01    68.310734
2017-05-02    68.202476
2017-05-03    67.985960
2017-05-04    67.720237
2017-05-05    67.907227
                ...
2017-08-25    72.453281
2017-08-28    72.463230
2017-08-29    72.682122
2017-08-30    73.637288
2017-08-31    74.393460
Name: Adj. Close, Length: 87, dtype: float64

**.head(N)** y **.tail(N)** son métodos para acceder rápidamente a los primeros o últimos N elementos.

In [29]:
print(msft.head(3))
print(msft.tail(15))

Date
2017-01-03    61.219142
2017-01-04    60.945231
2017-01-05    60.945231
Name: Adj. Close, dtype: float64
Date
2017-12-08    84.16
2017-12-11    85.23
2017-12-12    85.58
2017-12-13    85.35
2017-12-14    84.69
2017-12-15    86.85
2017-12-18    86.38
2017-12-19    85.83
2017-12-20    85.52
2017-12-21    85.50
2017-12-22    85.51
2017-12-26    85.40
2017-12-27    85.71
2017-12-28    85.72
2017-12-29    85.54
Name: Adj. Close, dtype: float64

### Muestreo
**series.resample(freq)** es una clase llamada "DatetimeIndexResampler" que agrupa los datos de un objeto Series en intervalos de tiempo regulares. El argumento "freq" determina la longitud de cada intervalo.
**series.resample.mean()** es una sentencia completa que agrupa los datos en intervalos y luego calcula la media de cada intervalo.

In [30]:
por_mes = msft.resample('M').mean()
print(por_mes)

Date
2017-01-31    61.817833
2017-02-28    62.919914
2017-03-31    63.814394
2017-04-30    65.123601
2017-05-31    68.016792
2017-06-30    69.791092
2017-07-31    71.270232
2017-08-31    72.284124
2017-09-30    73.970103
2017-10-31    77.547044
2017-11-30    83.485128
2017-12-31    84.758500
Freq: M, Name: Adj. Close, dtype: float64

También es posible hacerlo por semana, o por cualquier frecuencia que queramos.

In [33]:
por_semana = msft.resample('W').mean()
print(por_semana.head(15))
dos_semanas = msft.resample('2W').mean()
print(dos_semanas.head(15))

Date
2017-01-08    61.145773
2017-01-15    61.387402
2017-01-22    61.158001
2017-01-29    62.649349
2017-02-05    62.649349
2017-02-12    62.308917
2017-02-19    63.492557
2017-02-26    63.500639
2017-03-05    63.263948
2017-03-12    63.639898
2017-03-19    63.651708
2017-03-26    63.777681
2017-04-02    64.448880
2017-04-09    64.610282
2017-04-16    64.263365
Freq: W-SUN, Name: Adj. Close, dtype: float64
Date
2017-01-08    61.145773
2017-01-22    61.285446
2017-02-05    62.649349
2017-02-19    62.900737
2017-03-05    63.369144
2017-03-19    63.645803
2017-04-02    64.113280
2017-04-16    64.456097
2017-04-30    65.724355
2017-05-14    67.880655
2017-05-28    67.875850
2017-06-11    70.550231
2017-06-25    69.587260
2017-07-09    68.425141
2017-07-23    71.674522
Freq: 2W-SUN, Name: Adj. Close, dtype: float64

Tambien podemos usar otro metodos con resampler.

In [37]:
std = msft.resample('M').std()
print(std)
max = msft.resample('M').max()
print(max)
min = msft.resample('M').min()
print(min)

Date
2017-01-31    0.987492
2017-02-28    0.650495
2017-03-31    0.458976
2017-04-30    1.155814
2017-05-31    0.758664
2017-06-30    1.093689
2017-07-31    2.038546
2017-08-31    0.799076
2017-09-30    0.683292
2017-10-31    2.682504
2017-11-30    0.578210
2017-12-31    1.575938
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31    64.349555
2017-02-28    63.596595
2017-03-31    64.816957
2017-04-30    67.375780
2017-05-31    69.684250
2017-06-30    71.772501
2017-07-31    73.474772
2017-08-31    74.393460
2017-09-30    75.060086
2017-10-31    83.467532
2017-11-30    84.880000
2017-12-31    86.850000
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31    60.945231
2017-02-28    61.796312
2017-03-31    62.996255
2017-04-30    63.921368
2017-05-31    66.784451
2017-06-30    67.784040
2017-07-31    67.467339
2017-08-31    70.673943
2017-09-30    72.891065
2017-10-31    73.886029
2017-11-30    82.400000
2017-12-31    81.080000
Freq: M, Name: Adj. Close, dtype: float64

A menudo queremos calcular la rentabilidad mensual de una acción, basándonos en los precios del último día de cada mes. Para obtener esos precios, utilizamos el método **series.resample.agg()**

In [38]:
ultimo_dia = msft.resample('M').agg(lambda x: x[-1])
print(ultimo_dia)

Date
2017-01-31    63.244128
2017-02-28    62.966731
2017-03-31    64.816957
2017-04-30    67.375780
2017-05-31    69.120125
2017-06-30    68.219505
2017-07-31    71.970440
2017-08-31    74.393460
2017-09-30    74.114871
2017-10-31    82.761108
2017-11-30    84.170000
2017-12-31    85.540000
Freq: M, Name: Adj. Close, dtype: float64

O bien, calcular directamente las tasas de rendimiento mensuales utilizando los datos del primer día y del último día.

In [39]:
retorno_mensual = msft.resample('M').agg(lambda x: x[-1]/x[1] - 1)
print(retorno_mensual)

Date
2017-01-31    0.037721
2017-02-28    0.018940
2017-03-31    0.028902
2017-04-30    0.041534
2017-05-31    0.013455
2017-06-30   -0.039437
2017-07-31    0.052693
2017-08-31    0.040247
2017-09-30    0.011955
2017-10-31    0.120119
2017-11-30    0.006496
2017-12-31    0.055007
Freq: M, Name: Adj. Close, dtype: float64

El objeto Serie también nos proporciona algunos métodos convenientes para hacer algunos cálculos rápidos.

In [40]:
print(retorno_mensual.mean())
print(retorno_mensual.std())
print(retorno_mensual.max())

0.03230254536315318
0.037649699600855346
0.12011850255858336

Otros dos métodos utilizados con frecuencia en Series son **.diff()** y **.pct_change()**. El primero calcula la diferencia entre elementos consecutivos, y el segundo calcula el porcentaje de cambio.

In [41]:
print(ultimo_dia.diff())
print(ultimo_dia.pct_change())

Date
2017-01-31         NaN
2017-02-28   -0.277397
2017-03-31    1.850226
2017-04-30    2.558823
2017-05-31    1.744346
2017-06-30   -0.900620
2017-07-31    3.750935
2017-08-31    2.423021
2017-09-30   -0.278590
2017-10-31    8.646237
2017-11-30    1.408892
2017-12-31    1.370000
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28   -0.004386
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.025890
2017-06-30   -0.013030
2017-07-31    0.054983
2017-08-31    0.033667
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.017024
2017-12-31    0.016277
Freq: M, Name: Adj. Close, dtype: float64

Cuando se trata de valores NaN, normalmente eliminamos el punto de datos o lo rellenamos con un valor específico.

In [43]:
retorno_diario = ultimo_dia.pct_change()
print(retorno_diario.fillna(0))
print(retorno_diario.fillna(method = 'bfill'))

Date
2017-01-31    0.000000
2017-02-28   -0.004386
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.025890
2017-06-30   -0.013030
2017-07-31    0.054983
2017-08-31    0.033667
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.017024
2017-12-31    0.016277
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31   -0.004386
2017-02-28   -0.004386
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.025890
2017-06-30   -0.013030
2017-07-31    0.054983
2017-08-31    0.033667
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.017024
2017-12-31    0.016277
Freq: M, Name: Adj. Close, dtype: float64

También podemos eliminar simplemente los valores NaN mediante **.dropna()**.

In [44]:
retorno_diario = ultimo_dia.pct_change().dropna()
print(retorno_diario)

Date
2017-02-28   -0.004386
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.025890
2017-06-30   -0.013030
2017-07-31    0.054983
2017-08-31    0.033667
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.017024
2017-12-31    0.016277
Freq: M, Name: Adj. Close, dtype: float64

### Dataframes
Un DataFrame es una colección de objetos Series, cada uno de los cuales puede contener diferentes tipos de datos. Un DataFrame puede ser creado a partir de varios tipos de datos: diccionario, numpy.ndarray 2-D, una Serie u otro DataFrame.

#### Creando Dataframes
El método más común para crear un DataFrame es pasar un diccionario.

In [53]:
import pandas as pd
import numpy as np

In [47]:
dict = {'AAPL': [143.5,  144.09, 142.73, 144.18, 143.77],
        'MSFT': [1023.4,  998.32, 1005.9, 970.12, 982.54],
        'IBM':  [155.58, 153.67, 152.36, 152.94, 153.49]}
dates = pd.date_range('2017-07-03', periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = dates)
print(df)

              AAPL     MSFT     IBM
2017-07-03  143.50  1023.40  155.58
2017-07-04  144.09   998.32  153.67
2017-07-05  142.73  1005.90  152.36
2017-07-06  144.18   970.12  152.94
2017-07-07  143.77   982.54  153.49

#### Manipulando Dataframes
Podemos obtener valores en un DataFrame por columnas e índices, o si esta no tiene espacios por el nombre

In [48]:
df = msft_table
print(df.Close.tail(10))
print(df['Adj. Volume'].tail(10))

Date
2018-03-14    93.85
2018-03-15    94.18
2018-03-16    94.60
2018-03-19    92.89
2018-03-20    93.13
2018-03-21    92.48
2018-03-22    89.79
2018-03-23    87.18
2018-03-26    93.78
2018-03-27    89.47
Name: Close, dtype: float64
Date
2018-03-14    31576898.0
2018-03-15    26279014.0
2018-03-16    47329521.0
2018-03-19    31752589.0
2018-03-20    21787780.0
2018-03-21    23753263.0
2018-03-22    37578166.0
2018-03-23    42159397.0
2018-03-26    55031149.0
2018-03-27    53704562.0
Name: Adj. Volume, dtype: float64

Todos los métodos que aplicamos a un índice de Serie como **iloc[ ]**, **loc[ ]** y métodos de remuestreo, también se pueden aplicar a un DataFrame:

In [49]:
msft_2016 = df['2016']
msft_mensual = msft_2016.resample('M').agg(lambda x: x[-1])
print(msft_mensual)

             Open   High     Low  ...   Adj. Low  Adj. Close  Adj. Volume
Date                              ...
2016-01-31  54.73  55.09  54.000  ...  51.419823   52.457741   83611686.0
2016-02-29  51.35  51.65  50.660  ...  48.579325   48.790289   31654036.0
2016-03-31  54.95  55.59  54.860  ...  52.606825   52.961629   26360495.0
2016-04-30  49.35  50.25  49.350  ...  47.323129   47.821771   48411684.0
2016-05-31  52.26  53.00  52.080  ...  50.296948   51.185450   37653081.0
2016-06-30  50.72  51.30  50.500  ...  48.771042   49.418104   28527781.0
2016-07-31  56.26  56.76  56.050  ...  54.131028   54.739459   30558718.0
2016-08-31  57.65  57.80  57.300  ...  55.685060   55.840550   20860269.0
2016-09-30  57.57  57.77  57.340  ...  55.723932   55.976604   29910788.0
2016-10-31  60.16  60.42  59.920  ...  58.231218   58.231218   26434697.0
2016-11-30  60.86  61.18  60.215  ...  58.905571   58.949592   34655435.0
2016-12-31  62.96  62.99  62.030  ...  60.681102   60.788710   25579908.0

[12 rows x 12 columns]

Podemos seleccionar determinadas columnas de un DataFrame utilizando sus nombres.

In [50]:
msft_bar = msft_mensual[['Open', 'High', 'Low', 'Close']]
print(msft_bar)

             Open   High     Low  Close
Date
2016-01-31  54.73  55.09  54.000  55.09
2016-02-29  51.35  51.65  50.660  50.88
2016-03-31  54.95  55.59  54.860  55.23
2016-04-30  49.35  50.25  49.350  49.87
2016-05-31  52.26  53.00  52.080  53.00
2016-06-30  50.72  51.30  50.500  51.17
2016-07-31  56.26  56.76  56.050  56.68
2016-08-31  57.65  57.80  57.300  57.46
2016-09-30  57.57  57.77  57.340  57.60
2016-10-31  60.16  60.42  59.920  59.92
2016-11-30  60.86  61.18  60.215  60.26
2016-12-31  62.96  62.99  62.030  62.14

Incluso podemos especificar tanto las filas como las columnas utilizando loc[ ]. Los índices de las filas y los nombres de las columnas están separados por una coma

In [52]:
print(msft_mensual.loc['2016-03':'2016-07', ['Open', 'High', 'Low', 'Close']])

             Open   High    Low  Close
Date
2016-03-31  54.95  55.59  54.86  55.23
2016-04-30  49.35  50.25  49.35  49.87
2016-05-31  52.26  53.00  52.08  53.00
2016-06-30  50.72  51.30  50.50  51.17
2016-07-31  56.26  56.76  56.05  56.68

Los métodos de subconjunto en DataFrame son bastante útiles. Escribiendo declaraciones lógicas entre corchetes, podemos hacer subconjuntos personalizados.

In [54]:
superiores = msft_bar[msft_bar.Close > np.mean(msft_bar.Close)]
print(superiores)

             Open   High     Low  Close
Date
2016-07-31  56.26  56.76  56.050  56.68
2016-08-31  57.65  57.80  57.300  57.46
2016-09-30  57.57  57.77  57.340  57.60
2016-10-31  60.16  60.42  59.920  59.92
2016-11-30  60.86  61.18  60.215  60.26
2016-12-31  62.96  62.99  62.030  62.14

#### Validación de datos
Aquí añadimos una nueva columna a un DataFrame existente

In [ ]:
msft_bar['rate_return'] = msft_bar.Close.pct_change()
print(msft_bar)

Aquí el cálculo introdujo un valor NaN. Si el DataFrame es grande, no podríamos observarlo. **isnull()** proporciona una forma conveniente de comprobar los valores anormales.

In [56]:
faltante = msft_bar.isnull()
print(faltante)
print( '---------------------------------------------')
print(faltante.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

También podemos encontrar fácilmente las filas con valores perdidos.

In [57]:
print(faltante[faltante.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Como introdujimos en el capítulo de Series, el mismo método **dropna()** y **fillna()** puede aplicarse a un DataFrame.

In [59]:
drop = msft_bar.dropna()
print( drop)
print( '\n--------------------------------------------------\n')
fill = msft_bar.fillna(0)
print( fill)

             Open   High     Low  Close  rate_return
Date
2016-02-29  51.35  51.65  50.660  50.88    -0.076420
2016-03-31  54.95  55.59  54.860  55.23     0.085495
2016-04-30  49.35  50.25  49.350  49.87    -0.097049
2016-05-31  52.26  53.00  52.080  53.00     0.062763
2016-06-30  50.72  51.30  50.500  51.17    -0.034528
2016-07-31  56.26  56.76  56.050  56.68     0.107680
2016-08-31  57.65  57.80  57.300  57.46     0.013761
2016-09-30  57.57  57.77  57.340  57.60     0.002436
2016-10-31  60.16  60.42  59.920  59.92     0.040278
2016-11-30  60.86  61.18  60.215  60.26     0.005674
2016-12-31  62.96  62.99  62.030  62.14     0.031198

--------------------------------------------------

             Open   High     Low  Close  rate_return
Date
2016-01-31  54.73  55.09  54.000  55.09     0.000000
2016-02-29  51.35  51.65  50.660  50.88    -0.076420
2016-03-31  54.95  55.59  54.860  55.23     0.085495
2016-04-30  49.35  50.25  49.350  49.87    -0.097049
2016-05-31  52.26  53.00  52.080  53.00     0.062763
2016-06-30  50.72  51.30  50.500  51.17    -0.034528
2016-07-31  56.26  56.76  56.050  56.68     0.107680
2016-08-31  57.65  57.80  57.300  57.46     0.013761
2016-09-30  57.57  57.77  57.340  57.60     0.002436
2016-10-31  60.16  60.42  59.920  59.92     0.040278
2016-11-30  60.86  61.18  60.215  60.26     0.005674
2016-12-31  62.96  62.99  62.030  62.14     0.031198

#### Concatenación de Dataframe
En Pandas, la función **concat()** nos permite fusionar múltiples Series en un DataFrame.

In [60]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'MSFT')
data_frame = pd.concat([s1, s2], axis = 1)
print( data_frame)

     AAPL    MSFT
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

El parámetro "eje = 1" unirá dos DataFrames por columnas.

In [61]:
log_price = np.log(msft_bar.Close)
log_price.name = 'log_price'
print( log_price)
print( '\n--------------------------------------------\n')
concat = pd.concat([msft_bar, log_price], axis = 1)
print( concat)

Date
2016-01-31    4.008968
2016-02-29    3.929470
2016-03-31    4.011506
2016-04-30    3.909420
2016-05-31    3.970292
2016-06-30    3.935153
2016-07-31    4.037421
2016-08-31    4.051089
2016-09-30    4.053523
2016-10-31    4.093010
2016-11-30    4.098669
2016-12-31    4.129390
Freq: M, Name: log_price, dtype: float64

--------------------------------------------

             Open   High     Low  Close  rate_return  log_price
Date
2016-01-31  54.73  55.09  54.000  55.09          NaN   4.008968
2016-02-29  51.35  51.65  50.660  50.88    -0.076420   3.929470
2016-03-31  54.95  55.59  54.860  55.23     0.085495   4.011506
2016-04-30  49.35  50.25  49.350  49.87    -0.097049   3.909420
2016-05-31  52.26  53.00  52.080  53.00     0.062763   3.970292
2016-06-30  50.72  51.30  50.500  51.17    -0.034528   3.935153
2016-07-31  56.26  56.76  56.050  56.68     0.107680   4.037421
2016-08-31  57.65  57.80  57.300  57.46     0.013761   4.051089
2016-09-30  57.57  57.77  57.340  57.60     0.002436   4.053523
2016-10-31  60.16  60.42  59.920  59.92     0.040278   4.093010
2016-11-30  60.86  61.18  60.215  60.26     0.005674   4.098669
2016-12-31  62.96  62.99  62.030  62.14     0.031198   4.129390

También podemos unir dos DataFrames por filas.

In [63]:
df_volume = msft_table.loc['2016-10':'2017-04', ['Volume', 'Split Ratio']].resample('2W').agg(lambda x: x[-1])
print( df_volume)
print( '\n-------------------------------------------\n')
df_2017 = msft_table.loc['2016-10':'2017-04', ['Open', 'High', 'Low', 'Close']].resample('2W').agg(lambda x: x[-1])
print( df_2017)

                Volume  Split Ratio
Date
2016-10-09  20089020.0          1.0
2016-10-23  80032206.0          1.0
2016-11-06  28697016.0          1.0
2016-11-20  27686311.0          1.0
2016-12-04  25515665.0          1.0
2016-12-18  42453083.0          1.0
2017-01-01  25579908.0          1.0
2017-01-15  19422310.0          1.0
2017-01-29  44817972.0          1.0
2017-02-12  18170729.0          1.0
2017-02-26  21796800.0          1.0
2017-03-12  19538245.0          1.0
2017-03-26  22617105.0          1.0
2017-04-09  14089274.0          1.0
2017-04-23  32522645.0          1.0
2017-05-07  38940853.0          1.0

-------------------------------------------

             Open    High     Low  Close
Date
2016-10-09  57.85  57.980  57.420  57.80
2016-10-23  60.28  60.450  59.485  59.66
2016-11-06  58.65  59.280  58.520  58.71
2016-11-20  60.78  61.140  60.300  60.35
2016-12-04  59.08  59.470  58.800  59.25
2016-12-18  62.95  62.950  62.115  62.30
2017-01-01  62.96  62.990  62.030  62.14
2017-01-15  62.62  62.865  62.350  62.70
2017-01-29  65.39  65.910  64.890  65.78
2017-02-12  64.25  64.300  63.975  64.00
2017-02-26  64.53  64.800  64.135  64.62
2017-03-12  65.11  65.260  64.750  64.93
2017-03-26  65.36  65.450  64.760  64.98
2017-04-09  65.85  65.960  65.440  65.68
2017-04-23  65.67  66.700  65.450  66.40
2017-05-07  68.91  69.140  67.690  68.46

Ahora fusionamos los DataFrames con nuestro DataFrame 'msft_bar'

In [64]:
concat = pd.concat([msft_bar, df_volume], axis = 1)
print(concat)

             Open   High     Low  Close  rate_return      Volume  Split Ratio
Date
2016-01-31  54.73  55.09  54.000  55.09          NaN         NaN          NaN
2016-02-29  51.35  51.65  50.660  50.88    -0.076420         NaN          NaN
2016-03-31  54.95  55.59  54.860  55.23     0.085495         NaN          NaN
2016-04-30  49.35  50.25  49.350  49.87    -0.097049         NaN          NaN
2016-05-31  52.26  53.00  52.080  53.00     0.062763         NaN          NaN
2016-06-30  50.72  51.30  50.500  51.17    -0.034528         NaN          NaN
2016-07-31  56.26  56.76  56.050  56.68     0.107680         NaN          NaN
2016-08-31  57.65  57.80  57.300  57.46     0.013761         NaN          NaN
2016-09-30  57.57  57.77  57.340  57.60     0.002436         NaN          NaN
2016-10-09    NaN    NaN     NaN    NaN          NaN  20089020.0          1.0
2016-10-23    NaN    NaN     NaN    NaN          NaN  80032206.0          1.0
2016-10-31  60.16  60.42  59.920  59.92     0.040278         NaN          NaN
2016-11-06    NaN    NaN     NaN    NaN          NaN  28697016.0          1.0
2016-11-20    NaN    NaN     NaN    NaN          NaN  27686311.0          1.0
2016-11-30  60.86  61.18  60.215  60.26     0.005674         NaN          NaN
2016-12-04    NaN    NaN     NaN    NaN          NaN  25515665.0          1.0
2016-12-18    NaN    NaN     NaN    NaN          NaN  42453083.0          1.0
2016-12-31  62.96  62.99  62.030  62.14     0.031198         NaN          NaN
2017-01-01    NaN    NaN     NaN    NaN          NaN  25579908.0          1.0
2017-01-15    NaN    NaN     NaN    NaN          NaN  19422310.0          1.0
2017-01-29    NaN    NaN     NaN    NaN          NaN  44817972.0          1.0
2017-02-12    NaN    NaN     NaN    NaN          NaN  18170729.0          1.0
2017-02-26    NaN    NaN     NaN    NaN          NaN  21796800.0          1.0
2017-03-12    NaN    NaN     NaN    NaN          NaN  19538245.0          1.0
2017-03-26    NaN    NaN     NaN    NaN          NaN  22617105.0          1.0
2017-04-09    NaN    NaN     NaN    NaN          NaN  14089274.0          1.0
2017-04-23    NaN    NaN     NaN    NaN          NaN  32522645.0          1.0
2017-05-07    NaN    NaN     NaN    NaN          NaN  38940853.0          1.0

Por defecto los DataFrame se unen con todos los datos. Esta opción por defecto hace que la pérdida de información sea nula. También podemos unirlos por intersección, esto se llama 'inner join':

In [65]:
concat = pd.concat([msft_bar, df_volume], axis = 1, join = 'inner')
print( concat)

Empty DataFrame
Columns: [Open, High, Low, Close, rate_return, Volume, Split Ratio]
Index: []

Sólo queda la parte de la intersección si se utiliza el método 'inner join'. Ahora vamos a intentar añadir un DataFrame a otro.

In [66]:
append = msft_bar.append(df_2017)
print( append)

             Open    High     Low  Close  rate_return
Date
2016-01-31  54.73  55.090  54.000  55.09          NaN
2016-02-29  51.35  51.650  50.660  50.88    -0.076420
2016-03-31  54.95  55.590  54.860  55.23     0.085495
2016-04-30  49.35  50.250  49.350  49.87    -0.097049
2016-05-31  52.26  53.000  52.080  53.00     0.062763
2016-06-30  50.72  51.300  50.500  51.17    -0.034528
2016-07-31  56.26  56.760  56.050  56.68     0.107680
2016-08-31  57.65  57.800  57.300  57.46     0.013761
2016-09-30  57.57  57.770  57.340  57.60     0.002436
2016-10-31  60.16  60.420  59.920  59.92     0.040278
2016-11-30  60.86  61.180  60.215  60.26     0.005674
2016-12-31  62.96  62.990  62.030  62.14     0.031198
2016-10-09  57.85  57.980  57.420  57.80          NaN
2016-10-23  60.28  60.450  59.485  59.66          NaN
2016-11-06  58.65  59.280  58.520  58.71          NaN
2016-11-20  60.78  61.140  60.300  60.35          NaN
2016-12-04  59.08  59.470  58.800  59.25          NaN
2016-12-18  62.95  62.950  62.115  62.30          NaN
2017-01-01  62.96  62.990  62.030  62.14          NaN
2017-01-15  62.62  62.865  62.350  62.70          NaN
2017-01-29  65.39  65.910  64.890  65.78          NaN
2017-02-12  64.25  64.300  63.975  64.00          NaN
2017-02-26  64.53  64.800  64.135  64.62          NaN
2017-03-12  65.11  65.260  64.750  64.93          NaN
2017-03-26  65.36  65.450  64.760  64.98          NaN
2017-04-09  65.85  65.960  65.440  65.68          NaN
2017-04-23  65.67  66.700  65.450  66.40          NaN
2017-05-07  68.91  69.140  67.690  68.46          NaN

'Append' es esencialmente para concatenar dos DataFrames por eje = 0, por lo tanto, aquí es una forma alternativa de anexar.

In [67]:
concat = pd.concat([msft_bar, df_2017], axis = 0)
print( concat)

             Open    High     Low  Close  rate_return
Date
2016-01-31  54.73  55.090  54.000  55.09          NaN
2016-02-29  51.35  51.650  50.660  50.88    -0.076420
2016-03-31  54.95  55.590  54.860  55.23     0.085495
2016-04-30  49.35  50.250  49.350  49.87    -0.097049
2016-05-31  52.26  53.000  52.080  53.00     0.062763
2016-06-30  50.72  51.300  50.500  51.17    -0.034528
2016-07-31  56.26  56.760  56.050  56.68     0.107680
2016-08-31  57.65  57.800  57.300  57.46     0.013761
2016-09-30  57.57  57.770  57.340  57.60     0.002436
2016-10-31  60.16  60.420  59.920  59.92     0.040278
2016-11-30  60.86  61.180  60.215  60.26     0.005674
2016-12-31  62.96  62.990  62.030  62.14     0.031198
2016-10-09  57.85  57.980  57.420  57.80          NaN
2016-10-23  60.28  60.450  59.485  59.66          NaN
2016-11-06  58.65  59.280  58.520  58.71          NaN
2016-11-20  60.78  61.140  60.300  60.35          NaN
2016-12-04  59.08  59.470  58.800  59.25          NaN
2016-12-18  62.95  62.950  62.115  62.30          NaN
2017-01-01  62.96  62.990  62.030  62.14          NaN
2017-01-15  62.62  62.865  62.350  62.70          NaN
2017-01-29  65.39  65.910  64.890  65.78          NaN
2017-02-12  64.25  64.300  63.975  64.00          NaN
2017-02-26  64.53  64.800  64.135  64.62          NaN
2017-03-12  65.11  65.260  64.750  64.93          NaN
2017-03-26  65.36  65.450  64.760  64.98          NaN
2017-04-09  65.85  65.960  65.440  65.68          NaN
2017-04-23  65.67  66.700  65.450  66.40          NaN
2017-05-07  68.91  69.140  67.690  68.46          NaN

Tenga en cuenta que si los dos DataFrame tienen algunas columnas con los mismos nombres de columna, estas columnas se consideran iguales y se fusionarán. Es muy importante tener los nombres de columna correctos.

In [69]:
df_2017.columns = ['Change', 'High', 'Low', 'Close']
concat = pd.concat([msft_bar, df_2017], axis = 0)
print( concat)

             Open    High     Low  Close  rate_return  Change
Date
2016-01-31  54.73  55.090  54.000  55.09          NaN     NaN
2016-02-29  51.35  51.650  50.660  50.88    -0.076420     NaN
2016-03-31  54.95  55.590  54.860  55.23     0.085495     NaN
2016-04-30  49.35  50.250  49.350  49.87    -0.097049     NaN
2016-05-31  52.26  53.000  52.080  53.00     0.062763     NaN
2016-06-30  50.72  51.300  50.500  51.17    -0.034528     NaN
2016-07-31  56.26  56.760  56.050  56.68     0.107680     NaN
2016-08-31  57.65  57.800  57.300  57.46     0.013761     NaN
2016-09-30  57.57  57.770  57.340  57.60     0.002436     NaN
2016-10-31  60.16  60.420  59.920  59.92     0.040278     NaN
2016-11-30  60.86  61.180  60.215  60.26     0.005674     NaN
2016-12-31  62.96  62.990  62.030  62.14     0.031198     NaN
2016-10-09    NaN  57.980  57.420  57.80          NaN   57.85
2016-10-23    NaN  60.450  59.485  59.66          NaN   60.28
2016-11-06    NaN  59.280  58.520  58.71          NaN   58.65
2016-11-20    NaN  61.140  60.300  60.35          NaN   60.78
2016-12-04    NaN  59.470  58.800  59.25          NaN   59.08
2016-12-18    NaN  62.950  62.115  62.30          NaN   62.95
2017-01-01    NaN  62.990  62.030  62.14          NaN   62.96
2017-01-15    NaN  62.865  62.350  62.70          NaN   62.62
2017-01-29    NaN  65.910  64.890  65.78          NaN   65.39
2017-02-12    NaN  64.300  63.975  64.00          NaN   64.25
2017-02-26    NaN  64.800  64.135  64.62          NaN   64.53
2017-03-12    NaN  65.260  64.750  64.93          NaN   65.11
2017-03-26    NaN  65.450  64.760  64.98          NaN   65.36
2017-04-09    NaN  65.960  65.440  65.68          NaN   65.85
2017-04-23    NaN  66.700  65.450  66.40          NaN   65.67
2017-05-07    NaN  69.140  67.690  68.46          NaN   68.91